.DS_Store
/.vscode
/.idea
/gin-bin
/vendor
/config.json
/.scannerwork/
/coverage.out
/report.json
/log/access_log*
/log/app_log*
/portadapter
Dockerfile
kubestaging*

# For Development Testing Only
test.go
